.table-content {
  box-sizing: border-box;
  width: 76vw;
  height: 97vh;
  padding: 0.3rem;
  margin: 0.3rem;
  border: 1px solid rgb(235, 237, 240);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-heading {
  box-sizing: border-box;
  width: 74vw;
  height: 9vh;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(235, 237, 240);
  border-radius: 6px;
}

.product-heading input {
  width: 25rem;
  height: 2rem;
  cursor: auto;
  text-align: center;
  border-radius: 8px;
  font-size: 0.9rem;
}

.search-option {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-option i {
  padding: 0.4rem 0.4rem;
  border-radius: 6px;
  margin-left: 0.5rem;
}

.search-option i:first-of-type {
  position: relative;
  left: 2.5rem;
  border: none;
}

.product-filter {
  width: 74vw;
  height: 2.5rem;
  border: 1px solid rgb(235, 237, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.product-filter .start {
  display: flex;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.product-filter .end {
  display: flex;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.product-filter i {
  padding: 0.4rem;
}

.filter-btn {
  height: 2rem;
  width: auto;
  font-size: 0.9rem;
  padding: 4px 0.6rem;
  border-radius: 6px;
  margin: 4px 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border: 1px solid rgb(240, 238, 238);
  background: rgb(240, 238, 238);
}

.product-table {
  box-sizing: border-box;
  width: 74vw;
  height: auto;
}

.product-table th {
  height: 1.7rem;
  border: 1px solid rgb(235, 237, 240);
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

.product-table td {
  border: 1px solid rgb(235, 237, 240);
  border-radius: 6px;
  padding: 0px 10px;
  height: 1.8rem;
  font-size: 0.85rem;
}

.product-table thead tr {
  border: 1px solid rgb(235, 237, 240);
}

.product-table input {
  height: 1.3rem;
  width: 1.3rem;
  margin: 0 1rem;
  cursor: pointer;
}

.brand-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  height: 1.7rem;
}

.brand-name span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-counts td {
  text-align: right;
}

.table-counts i {
  padding: 0 10px;
}

td img {
  height: 1.3rem;
  width: 1.3rem;
  position: static;
  right: 0.3rem;
}

td span {
  border: 1px solid rgb(229, 226, 226);
  background: rgb(240, 238, 238);
  padding: 0px 4px;
  border-radius: 6px;
}

.table-options {
  position: absolute;
  bottom: 1rem;
  height: 2.8rem;
  width: 40vw;
  margin-top: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(235, 237, 240);
  border-radius: 8px;
}

.table-options p {
  box-sizing: border-box;
  padding: 2px 10px;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(235, 237, 240);
  border-radius: 8px;
  cursor: pointer;
}

.table-options i {
  cursor: pointer;
  padding: 0.5rem;
}

.red {
  border: 1px solid rgb(224, 178, 178);
  background: rgb(224, 178, 178);
}

.green {
  border: 1px solid rgb(178, 224, 180);
  background: rgb(178, 224, 180);
}

.blue {
  border: 1px solid rgb(191, 191, 242);
  background: rgb(191, 191, 242);
}

.grey {
  border: 1px solid rgb(223, 221, 221);
  background: rgb(223, 221, 221);
}

.search-option input:hover {
  background: rgb(237, 238, 237);
}

.filter-btn:hover {
  background: rgb(217, 212, 212);
  border: 1px solid rgb(222, 226, 231);
}

@media screen and (max-width: 1400px) {
  
  .table-options {
    position: static;
    flex-wrap: wrap;
    width: 50vw;
    margin-top: 0vh;
  }
}

@media screen and (max-width: 1200px) {
  .table-content{
    height: auto;
  }
  .product-heading {
    justify-content: space-evenly;
  }

  .product-filter {
    height: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .search-option i:first-of-type {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .hide-row {
    display: none;
  }

  .start {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {
  .table-content {
    width: 95vw;
  }

  .product-heading {
    width: 95vw;
  }

  .product-filter {
    width: 95vw;
  }

  .product-table {
    width: 95vw;
  }

  .table-options {
    width: 90vw;
  }
}
