.container {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  width: 98%;
  height: auto;
}

.noData {
  height: 10vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 50%;
}

h3 {
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
